body {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgray;
}

header,
footer {
  background-color: cornflowerblue;
}

.body-content {
  height: 90%;
}

  .body-content .container {
    min-height: 100%;
  }

body .body-content .container {
  background-color: white;
}

#carouselIndicators {
  background-color: darkgray;
}

#content .list-group {
  max-width: 30px;
}

.ingredientItem {
  width: 200px;
  height: 100px;
}

#addToCartBtn {
  min-height: 50px;
}

.slide-img {
  max-height: 400px;
  padding-bottom: 120px;
}

aside {
  max-height: 500px;
  overflow-y: scroll;
}
#cartImg{
  max-width: 75px;
}